<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Music Player</title>
    <!-- Load FontAwesome icons -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- Load the custom CSS style file -->
    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/component.css" />
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  </head>

  <body>
    <footer>
      <div class="player">
        <div class="content">
          <input
            type="file"
            name="file-1[]"
            id="file-1"
            class="inputfile inputfile-1"
            data-multiple-caption="{count} files selected"
          />
          <label for="file-1"
            ><svg
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="17"
              viewBox="0 0 20 17"
            >
              <path
                d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"
              />
            </svg>
            <span>Choose a file&hellip;</span></label
          >
        </div>
        <div class="now-playing">PLAYING x OF y</div>

        <div class="details">
          <div class="slider_container">
            <div class="current-time">00:00</div>
            <input
              type="range"
              min="1"
              max="100"
              value="0"
              class="seek_slider"
              onchange="seekTo()"
            />
            <div class="total-duration">00:00</div>
          </div>
          <div class="wrapperinfo">
            <div class="title_1">
              <div class="track-art"></div>
              <div class="track-name">Track Name</div>
              <div class="track-artist">Track Artist</div>
            </div>
            <div class="buttons">
              <div class="prev-track" onclick="prevTrack()">
                <i class="fa fa-step-backward fa-2x"></i>
              </div>
              <div class="playpause-track" onclick="playpauseTrack()">
                <i class="fa fa-play-circle fa-5x"></i>
              </div>
              <div class="next-track" onclick="nextTrack()">
                <i class="fa fa-step-forward fa-2x"></i>
              </div>
              <div class="repeat" onclick="repeatTrack()">
                <i class="fas fa-sync-alt"></i>
              </div>
              <div class="heart" onclick="removeFromPlaylist()">
                <i class="fas fa-heart"></i>
              </div>
            </div>
            <div class="slider_container">
              <i class="fa fa-volume-down"></i>
              <input
                type="range"
                min="1"
                max="100"
                value="40"
                class="volume_slider"
                onchange="setVolume()"
              />
              <i class="fa fa-volume-up"></i>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- Load the main script for the player -->
    <script src="js/main.js"></script>
    <script>
      (function (e, t, n) {
        var r = e.querySelectorAll("html")[0];
        r.className = r.className.replace(/(^|\s)no-js(\s|$)/, "$1js$2");
        console.log(name);
      })(document, window, 0);
    </script>
    <script src="js/jquery-v1.min.js"></script>
    <script src="js/jquery.custom-file-input.js"></script>
  </body>
  <script src="js/custom-file-input.js"></script>
  <script type="text/javascript">
    var input = document.querySelector("input[type=file]");
    document.querySelector("input[type=file]").accept = "audio/*";
    input.onchange = function () {
      // curr_track.src = URL.createObjectURL(input.files[0]);
      let name = input.files[0].name;
      name = name.slice(0, 14);
      const fresh = {
        name: name,
        image: "https://picsum.photos/200",
        path: URL.createObjectURL(input.files[0]),
      };
      track_list.push(fresh);
      loadTrack(0);
      now_playing.textContent =
        "PLAYING " + (track_index + 1) + " OF " + track_list.length;
    };
  </script>
</html>
